body,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin:0px;
}

ol,
ul{
    margin:0px;
    padding:0px;
     /*清除列表的序号*/
    list-style:none;
}
img{
    border:none;
}

/* 清除a标签的下划线 */
a{
	text-decoration: none;
}
